*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: rubik;
}
.body{
    display: flex;
    place-content: center;
    align-items: center;
    background: #f8f8f8;
    width: 100vw;
    height: 100vh;
}

.container{
    width: 57vw;
    height: 75vh;
    background: #fff;
    box-shadow: 0px 1px 16.83px 0.17px rgba(0, 0, 0, 0.096);
    display: flex;
    /* border-radius: 15px; */
    overflow: hidden;
}

.logo_section{
      flex-basis: 45%;
      /* background: red; */
      background-image: url('../Image/undraw_remotely_2j6y.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
}
.logo_section_cover{
  width: 100%;
  height: 100%;
  /* background: rgba(255, 0, 0, 0.342); */
  /* background: linear-gradient(#e0eafc8f, #cfdef373); */
  opacity: 0.964;
}

/* End Of Logo Seciton */

/* Form Section */
.form_section{
    flex-basis: 55%;
    background: #fff;
    display: flex;
    /* border: 1px solid red; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form_text{
    width: 100%;
    color: #3f3d56;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
}
.form_text img{
    width: 50px;
}
#form_text_2{
    border-left: 4px solid #ffa415;
    padding-left: 10px;
    font-weight: 300;
    color: #595f6e9a;
    font-size: 30px;
    line-height: 1.3;
    
}
#form_text_2 b{
    color: #333;
}

#form_mini_text{
    font-size: 16px;
    letter-spacing: 0.2px;
    font-weight: 300;
    margin-top: 15px;
}
#form_mini_text a{
    margin-left: 5px;
}
form{
    /* border: 1px solid; */
    margin: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
}

/* #mini_email{ */
    /* border: 1px solid; */
    /* margin: 0; */
/* } */
#mini_button{
    /* border: 1px solid; */
    margin: 0;
}
.name,.password,.email{
    width: 90%;
    overflow: hidden;
    /* border: 1px solid; */
    margin:9px;
    position: relative;
}
.second_form_text{
    /* border: 1px solid; */
    width: 80%;
}

form #name,#password,#email{
    width: 100%;
    background: transparent;
    height: 100%;
    padding-top: 20px;
    outline: none;
     border: none;
     color: #3f3d56;
    /* padding: 2px; */
}
form label{
    position: absolute;
    left: 0px;
    pointer-events: none;
    bottom: 0px;
    border-bottom: 1px solid #3f3d56;
    width: 100%;
    height: 100%;
    /* border: 1px solid; */
}
form label::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    width: 100%;
    /* height: 100%; */
    transform: translateX(-100%); 
    border: 1px solid #6c63ff;
}
 .content-name{
    position: absolute;
    bottom: 3px;
    font-size: 15px;
    color: #3f3d56;    
    transition: 0.3s ease;
    left: 0;
}

form input:focus + .label-name .content-name,
form input:valid + .label-name .content-name{
    transform: translateY(-130%);
    color: #6c63ff;
    font-size: 13px;
}
form input:focus + .label-name::after,
form input:valid + .label-name::after{
    transform: translateX(0%); 
}

.button{
    /* border: 1px solid; */
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
}
.button button{
    padding: 12px 26px;
    border: none;
    background: #6c63ff;
    color: white;
    cursor: pointer;
    transition: 0.4s ease;
}
button:hover{
    background: #3f3d56;
    color: white;
}
.button a{
    text-decoration: none;
    font-size: 14px;
    color: #6c63ff;
}
.button a i{
    color: #6c63ff;
}


.main_icon_holder{
    display: flex;
    align-items: center;
    margin: 10px;
    width: 90%;
}
.icons{
    width: 90%;
    display: flex;
    justify-content: right;
}
.icons a{
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: flex;
    place-content: center;
    align-items: center;
    border-radius: 50px;
    /* padding:  9px 12px; */
    margin-left: 6px;
}
.icons a:nth-child(1){
    background: #DB4437;
    color: #fff;
    transition: 0.4s ease;
}
.icons a:nth-child(1):hover{
    background: #de564cd8;
} 
.icons a:nth-child(2){
    background: #4267B2;
    color: #fff;
    transition: 0.4s ease;
}
.icons a:nth-child(2):hover{
    background: #3b5898b7;
}
.icons a:nth-child(3){
    background: #1DA1F2;
    color: #fff;
}
.icon_text{
   width: 90%; 
}
.icon_text h2{
    font-size: 16px;
    color: #3f3d56;
    font-weight: 500;
}


/* Forgot PAge */
.container_2{
    width: 40vw;
    /* height: 70vh; */
    display: flex;
    place-content: center;
    flex-direction: column;
    align-items: center;
}  

.forgot_p_text{
    /* border: 1px solid; */
    width: 100%;
    /* height: 10vh; */
    text-align: center;
}
.forgot_p_text #forgot_key{
    width: 60px;
}
.forgot_p_text h2{
    font-family: rubik;
    font-weight: 500;
    line-height: 1.2;
    color: #3f3d56;
}
.forgot_p_text p{
    letter-spacing: 0.22px;
    color: #3f3d56;
    font-weight: 300;
    font-family: rubik;
    font-size: 13px;
    margin-top: 5px;
}
.pass_form{
    width: 80%;
    background: transparent;
    display: flex;
    /* border: 1px solid; */
    /* flex-direction: column; */
    place-content: center;
    align-items: center;
}
.button_2{
    /* border: 1px solid; */
    width: 90%;
    display: flex;
    /* place-content: center; */
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.button_2 button{
    padding: 12px 26px;
    width: 95%;
    margin-toP: 10px;
    border-radius: 30px;
    border: none;
    background: #6c63ff;
    color: white;
    cursor: pointer;
    transition: 0.4s ease;
}
.button_2 button:hover{
    background: #3f3d56;
    color: white;
}
.button_2 a{
    text-decoration: none;
    margin-left: 10px;
    color: #3f3d56;
}
.button_2 #resend{
    color: #6c63ff;
}
#resend_main{
    margin: 1px;
}
.button_2 p{
    text-decoration: none;
    /* margin-left: 10px; */
    color: #3f3d56;
    /* border: 1px solid; */
}
.button_2 i{
    color: #3f3d56;
}








/* Index.html */
.nav{
    width: 100%;
    height: 10vh;
    background: #6c63ff;
    display: flex;
    position: fixed;
    z-index: 2;
    justify-content: space-between;
}
.bar_logo{
    flex-basis: 25%;
    color: #fff;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.bar_logo i{
    font-size: 26px;
    /* border: 1px solid; */
}
.bars{
    flex-basis: 25%;
    /* border: 1px solid; */
    background:rgba(0, 0, 0, 0.096);
    cursor: pointer;
    padding: 10px;
    justify-content: center;
    display: flex;
    height: 100%;
    align-items: center;
}

.img{
    /* border: 1px solid; */
    display: flex;
    place-content: center;
    align-items: center;
    height: 100%;
    flex-basis: 55%;
}
.img img{
    width: 100px;
}
/* bars */

/* Avatar */
.avatar_icon{
    /* border: 1px solid; */
    justify-content: center;
    flex-basis: 20%;
    color: #fff;
    display: flex;
}
.avatar_img_holder{
    /* border: 1px solid crimson; */
    /* flex-basis: 38%; */
    place-content: center;
    margin-left: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.avatar_img{
    border: 1px solid;
    width: 50px;
    padding: 5px;
    height: 50px;
    border-radius: 50%;
    /* border-radius: 50px; */
}
.avatar_img_holder h2{
    font-size: 19px;
    padding: 10px;
}
/* Avatar */


/* bell */
.bell,.search{
    flex-basis: 31%;
    place-content: center;
    border: 1px solid rgba(196, 196, 196, 0.096);
    /* margin-right: 5px; */
    align-items: center;
    cursor: pointer;
    display: flex;
    /* border: 1px solid; */
}
.bell i{
    font-size: 14px;
}
/* bell */


/* Search */
 

    .search span{
        position: relative;
        padding: 7px;
    }
  
/* Search */


.main_body{
    width:100%;
    background: #ecebeb; 
    /* height: 90vh; */
    /* border: 1px solid red; */
    position: absolute;
    top: 9%;

    /* display: ruby-text; */
    /* justify-content: space-between; */
    display: flex;
}
.side_nav{
    width: 25%;
    height: 100vh;
    /* border:1px solid; */
    /* background: crimson; */
    box-shadow: 0px 1px 16.83px 0.17px rgba(0, 0, 0, 0.096);
    background: #f8f8f8;
    position: fixed;
    display: flex;
    flex-direction: column;
    transition: 0.4s ease-in;
}

.side_nav_2{
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
}
.side_nav ul{
    /* border: 1px solid; */
    width: 100%;
   /* height: 100%; */
   display: flex;
   flex-direction: column;
   /* text-align: left; */
}
.side_nav ul a{
    /* border: 1px solid; */
    padding: 20px;
    font-size: 17px;
    text-decoration: none;
    color: #505050;
    transition: 0.3s ease;
}
.side_nav ul a i{
    padding-right: 20px;  
    /* border: 1px solid; */
}
.active{
    background: rgba(70, 69, 69, 0.096);
}
.side_nav ul a:hover{
    background: rgba(70, 69, 69, 0.096);
}
.side_nav_img_holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    /* border: 1px solid; */
    /* align-items: flex-start; */
}

.side_nav_img_holder img{
    width: 50px;
    margin-left: 30px;
    border: 1px solid;
}
.side_nav_img_holder i{
    cursor: pointer;
    padding: 12px;
    background: rgba(0, 0, 0, 0.096);
}


.mini_body{
    width: 75%;
    /* background: red; */
    /* background: #ecebeb; */
    /* background: red; */
    /* height: 90vh; */
    display: flex;

    position: relative;
    left: 25%;
    place-content: center;
    align-items: center;
    padding: 10px;
}
   .item_main_div{
            border: 1px solid #d8d8d8;
            /* height: 100vh; */
            display: flex;
            width: 100%;
            /* background: firebrick; */
            overflow: hidden;
            border-radius: 5px;
            flex-direction: column;
        }
        .item_header{
            /* border: 1px solid; */
            padding: 20px;
            background: #fff;
        }
       
        .item_header h2{
            font-size: 18px;
            color: rgb(66, 66, 66);
            font-weight: 400;
            /* border: 1px solid; */
            display: flex;
            /* place-content: center; */
            align-items: center;
            text-align: center;
            /* fle */
        }
        .item_header h2 a{
            text-decoration: none;
            font-weight: 500;
            color:rgb(66, 66, 66);
            padding-right: 5px;
        }
        .item_header h2 p{
            text-decoration: none;
            padding-left: 5px;
            font-weight: 300;
            /* font-size: 15px; */
        }
        .item_body{
            /* border: 1px solid; */
            /* height: 80vh; */
            /* padding: 70px; */
            display: flex;
            flex-direction: column;
            align-items: center;
            /* grid-template-columns: repeat(2,1fr); */
        }
        
        .body_divs{
            margin: 7px;
            width: 70%;
            flex-basis: 100%;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            /* border: 1px solid; */
            /* width: 10%; */
        }
        .body_divs a{
            text-decoration: none;
        }
        .inner_divs{
            /* border: 1px solid red; */
            margin: 5px;
            padding: 70px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            place-content: center;
            color: #fff;
            text-align: center;
            align-items: center;
            box-shadow: 0px 1px 16.83px 0.17px rgba(0, 0, 0, 0.096);
        }
        .inner_divs h2{
            font-size: 50px;
            /* color: #3f3d56; */
            font-family: rubik;
        }
        .inner_divs p{
            font-size: 19px;
            /* color: #4267B2; */
        }
        #products{
            background: #7a83ee;
        }
        #categories{
            background: #ff7857;
        }
        #items{
        background: #b17897;
        }
        #report{
            background: #a3c86d;
        }


       .recently{
           /* border: 1px solid; */
           margin-top: 20px;
           /* height: 50vh; */
           flex-direction: column;
           display: flex;
       } 
       .rec_divs{
           /* border: 1px solid red; */
           margin: 10px;
           flex-basis: 50%;
           display: flex;
           place-content: center;
           align-items: center;
           /* grid-template-columns: repeat(2,1fr); */
       }
       .rec_mini_divs{
           border: 1px solid rgba(201, 201, 201, 0.603);
           display: flex;
           /* width: 20%; */
           flex-basis: 45%;
           margin: 13px;
       }
       .rec_img_holder{
           /* flex-basis: 30%;  */
           display: flex;
           padding: 10px;
    place-content: center;
           align-items: center;
           background: #fff;
       }
       .rec_img_holder img{
           width: 90px;
       }
       .rec_mini_details{
           /* border: 1px solid green; */
           /* padding: 5px; */
           /* margin-left: 10px; */
        /* text-align: end; */
        flex-basis: 80%;
           display: flex;
           place-content: center;
           padding: 10px;
           flex-direction: column;
           /* align-items: center; */
           /* justify-items: baseline; */
           /* flex-direction: column; */
       }
     .rec_mini_details .h2,.p{
            /* border: 1px solid; */
            display: flex;
            width: 100%;
            justify-content: space-between;
     }
     
     .rec_mini_details .h2 #sm{
        font-size: 12px;
        font-weight: 400;
     }
     .rec_mini_details .h2 h2{
         color: #4267B2;
     }
     


     /* Item Page */

     .item_main_page{
        /* border: 1px solid; */
        /* height: 90vh;     */
        /* background: red; */
        display: flex;
        flex-direction: column;
        place-content: center;
        padding: 10px;
        align-items: center;
    }
    .add_btn{
        /* border: 1px solid; */
        margin-bottom: 10px;
        width: 100%;
    }
    #add{
    padding: 10px 26px;
    border: none;
    color: white;
    cursor: pointer;
    background: #32ee7e;
    transition: 0.4s ease;   
    }
   table{
       /* border: 1px solid; */
       width: 100%;
   }
   table button{
    padding: 12px 26px;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.4s ease;
}
   table tr{
    margin: 53px;
   }
   table th{
    border-bottom: 1px solid rgb(201, 201, 201);
       padding: 10px;
   }
   table button p{
    /* display: none; */
   }
   #ed_icon{
       display: none;
   }
   
   table td{
    /* padding: 10px; */
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid rgba(201, 201, 201, 0.212);
   }
   table td img{
       width: 70px;
   }
    #edit{
       background: #0fc25c;
   }
    #edit:hover{
       background: #32ee7e;
   }
    #delete{
       background: #b83732;   
   }
    #delete:hover{
    background: #ff5254;
   }


   .edit_item_drop{
       position: fixed;
       top: 0;
       left: 0;
       background: rgba(0, 0, 0, 0.952);
       width: 100%;
       height: 100vh;
       z-index: 5;
       display: none;      
       place-content: center;
       align-items: center;
   }
   .edit_inner_div_holder{
    width: 40%;
    padding: 20px;
    position: relative;
    /* height: 60vh; */
    /* border: 1px solid #fff; */
    background: white;
    /* display: flex; */
    flex-direction: column;
    /* box-shadow: 0px 0px 10px 0px rgba(68, 67, 67, 0.918); */
   }
   .button_3{
    /* border: 1px solid; */
    width: 90%;
    display: flex;
    align-items: center;
    place-content: center;
    margin: 15px;
}
.button_3 button{
    padding: 12px 26px;
    border: none;
    color: white;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.4s ease;
}
#cate{
    width: 100%;
    background: transparent;
    height: 100%;
    outline: none;
    padding: 10px 0px 10px 0px;
    border: none;
    border-bottom: 1px solid;
     color: #3f3d56;
    /* padding: 2px; */
}
.item_text{
    width: 82%;
    /* color: #3f3d56; */
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-around;
    place-content: center;
    align-items: center;
}
.item_text h3{
    position: absolute;
    right: 5%;
    font-size: 45px;
    cursor: pointer;
    transform: rotate(47deg);
}

.item_inner_text{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    padding: 30px;
}
.item_inner_text h2{
    color: #b83732;
}



/* Category */
.category_main_page{
    /* height: 60vh; */
    display: flex;
    place-content: center;
    align-items: center;
    padding: 15px;
}
.category_inner{
    /* border: 1px solid; */
    width: 97%;
    /* height: 40vh; */
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* grid-template-columns: repeat(4,1fr); */
}
#fll{
    background: #f89344;
}
#hardware{
    background: #393a3a;
}
.inner_cover{
    width: 100%;
    /* height: 100%; */
    /* position: relative; */
    /* top: 0; */
    /* left: 0; */
    /* padding: 70px; */
    background: rgba(0, 0, 0, 0.952);
}




/* Setting */
.settings{
    border: 1px solid  red;
    height: 80vh;
    display: flex;
    /* place-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
}
.setting_avatar{

}



